[submodule "vendor/lessphp"]
	path = vendor/lessphp
	url = https://github.com/leafo/lessphp
[submodule "vendor/JShrink"]
	path = vendor/JShrink
	url = https://github.com/tedivm/JShrink.git
[submodule "vendor/cssmin"]
	path = vendor/cssmin
	url = https://github.com/arteymix/cssmin.git
[submodule "vendor/CSSTidy"]
	path = vendor/CSSTidy
	url = https://github.com/Cerdic/CSSTidy.git
[submodule "vendor/coffeescript"]
	path = vendor/coffeescript
	url = https://github.com/alxlit/coffeescript-php.git
[submodule "vendor/minify"]
	path = vendor/minify
	url = https://code.google.com/p/minify/
[submodule "vendor/jsmin"]
	path = vendor/jsmin
	url = git@github.com:rgrove/jsmin-php.git
[submodule "vendor/JSMin"]
	path = vendor/JSMin
	url = git@github.com:rgrove/jsmin-php.git
[submodule "vendor/MinifyJS"]
	path = vendor/MinifyJS
	url = https://github.com/MinifyJS/MinifyJS.git
